<!-- employees/templates/add_employee.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body style="background-image: url('https://t3.ftcdn.net/jpg/06/76/11/34/360_F_676113431_1rqsM7P24VBWGZiFVyLjJOxyQtCgEqKk.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover">
    <h1 style="font-size: 75px ; color:darkblue">Add New Employee</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Employee</button>
    </form>
    <br><br>
    <a href="{% url 'home' %}" style="font-size:25px">Back to Home</a>
</body>
</html>
