<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
</head>
<body style="background-color:wheat;padding: 20px; width:1000px;background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnUqYvSse6vp0RfLvdFhRJwfkWxpJubLFM5Q&s');background-repeat:no-repeat;background-position:right;">


    <h1 style=text-align:center;color:darkred;text-decoration-style:wavy;font-size:100px>tRing tRing </h1>
    <h2 style="color:blue">Contact List</h2>


    <ul>
        {% for contact in contacts %}
            <li>
                <a style="color: black" href="{% url 'contact_detail' contact.pk %}">{{ contact.first_name }} {{ contact.last_name }}</a>
            </li>
            <p>
                <a href="{% url 'contact_edit' contact.pk %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'contact_delete' contact.pk %}">Delete</a>
            </p>
        {% endfor %}
    </ul>
    <a href="{% url 'contact_create' %}">Create New Contact</a>
</body>
</html>
